body{
    margin: 0;
    height: 100vh;
    /* background-color: #512DA8; */
    background: rgb(176,19,242);
    background: linear-gradient(-15deg, rgba(176,19,242,1) 0%, rgba(101,11,191,1) 50%, rgba(79,68,242,1) 100%);
    margin: auto;
text-align: center;
font-family: "poppins";
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo{
    display: inline-block;
    height: 20vh;
    /* width: 20vw; */
    padding: 5px;
    border-radius: 50%; 
    border: 3px solid #D1C4E9;
    margin-top:30px;
    cursor:default;
}
header h1{
    margin:15px 0px;
}
header h1 a{
    font-size: 20px;
    text-decoration: none;
    color:#c9c1cf;
    font-weight: 400;
}
.imgBtn{
    height: 40px;
}
.imgBtn:hover{
    filter: brightness(2);
}

nav a{
    padding-right: 5px;
}

section{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 60vw;
    max-width: 350px;
    text-align: center;
}
section p{
    color:#D1C4E9;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 400;
}
section p span{
    color: #00BCD4;
}

.botones{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
align-content: stretch;
margin-top: 25px;
padding-inline-start: 0px;
height: 125px;

}
.botones a{
    width:fit-content;
    color: #101010;
    text-decoration: none;
    border: solid 3px white;
    background-color: #00BCD4;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 0.7);
    font-size: 13px;
}
.botones a:hover{
    background-color: white;
    color: white;
    border: solid 3px white;
    background-color: #187481;
    box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 0.2);
}

footer{
    height: 4vh;
    width: 100vw;
    border-top: 2px solid #D1C4E9;
    position: fixed;
    bottom: 0;
}

footer p{
    color: #D1C4E9;
    font-size: 10px;
    font-weight: 300;
    margin: 0 auto;
}

.oculto{
    display: none;
}

.rectangulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 25px;
    height: 90%;
    width: 50vw;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    border-left:1px solid rgba(255, 255, 255, 0.3);
    border-top:1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 20px 20px 40px -6px rgba(65,9,121,0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}